body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.kaste {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    background-color: rgb(46, 19, 19);
    animation: test 1s infinite linear, rotation 2s infinite linear, moveAround 5s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    position: absolute;
}

@keyframes test {
    0%{
       background-color: red;
       font-size: 16px; 
    }

    50%{
        background-color: orangered;
        font-size: 40px;
    }

    100%{
       background-color: red; 
       font-size: 16px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes moveAround {
    0% { top: 0; left: 0; }
    25% { top: 0; right: 0; }
    50% { bottom: 0; right: 0; }
    75% { bottom: 0; left: 0; }
    100% { top: 0; left: 0; }
}
